
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color:#1A3636;
    color:#D6BD98;
}
.cabecalho{
    background-color:#1A3636;
    padding: 2% 0% 0% 10%;

}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
font-family:"Montserrat", sans-serif;
font-size: 24px;
font-weight: 600;
color: #D6BD98;
}
.apresentacao{
    padding: 3% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.tituloDestaque{
    color: aquamarine;
}

.apresentacao__links__titulo{
    font-family: "krono one", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    gap: 32px;
}
.link{
    display: flex;
    justify-content: center;
    gap: 16px;
    color:#D6BD98;
    width: 378px;
    text-align: center;
    border-radius:8px;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #D6BD98; 
}
.link:hover{
    background-color:#272727 ;
    padding: 3%;
}
.rodape{
    padding: 24px;
    color: #1A3636;
    background-color: #D6BD98;
    text-align: center;
    font-size:18px;
    font-family:"Montserrat", sans-serif ;
    font-weight: 400;
}

