body {
    background-color: #d86666;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #090909;
}

.item {
    margin-bottom: 10px;
    display: flex;
    font-size:20px ;
}

#cart, #checkout-form {
    margin-top: 50px;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #b0d84c;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
